../.python-version
credentials.json
.env
.idea
.venv/
bot/data/admins.json
cases_info.json
model/data/cases_info.json
tmp.py
.DS_Store
setenv.sh
test.json
tmp.html
file.csv
exp.py
env
bot/data/__pycache__/
bot/handlers/__pycache__/
bot/utils/__pycache__/
model/__pycache__/
model/data/__pycache__/
__pycache__/
mystuff/
bot/__init__.py
bot/data/__init__.py
bot/handlers/__init__.py
bot/handlers/admin_commands/__init__.py
bot/utils/__init__.py
model/__init__.py
model/data/__init__.py
model/score_leaderboard/__init__.py
model/kaggle_like/__init__.py